# Archivos y directorios de construcción de Maven/Gradle
target/
build/
.gradle/

# Archivos de log
*.log

# Archivos de configuración del IDE
.idea/
*.iml
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
